apiVersion : apps/v1
kind: Deployment
metadata:
  name: productservice 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: productservice
  template:
    metadata:
      labels:
        app: productservice 
    spec:
      containers:
        - name: productservice 
          image: acseshop2774688187.azurecr.io/productservice
          ports:
          - containerPort: 8080